<div class="hcontant">
    <div class="container-fluid bg-transparent py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-center py-5">
                <div class="col-lg-10 pt-lg-5 mt-lg-4 text-center">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Enjoy Your Vacation With Us</h1>
                    <p class="fs-4 text-white mb-4 animated slideInDown">Have a dream destination in mind? Whether you
                        want to follow your appetite to Tuscany or go wild in America’s greatest national parks, our
                        guided tour packages will get you there.</p>
                    <!-- <div class="position-relative w-75 mx-auto animated slideInDown">
                        <input #s_input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text"
                            placeholder="Eg: GOA">
                        <button type="button" (click)="getdata(s_input.value)"
                            class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2"
                            style="margin-top: 7px;">Search </button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="search" *ngIf=>

</div>
<app-about></app-about>
<app-package></app-package>
<app-contact></app-contact>